@import 'https://fonts.googleapis.com/css?family=Acme|Courgette|Gentium+Book+Basic|Harmattan|Satisfy|Fredericka+the+Great|Oswald';
/*
 * It is an attempt to sort styles with their properties,
 * such as widht, height, margin and padding, for example.
 * It means better seeing elements with equal sizes. 
 * Properly the design created without any template 
 * will be managed in the lighter way.
 * Property all together there are in dev tools if I need them.
/*
  ========================================
  Grid
  ========================================
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 
 * Display and Position
 * ========================================
 */

.top-menu {
    position: fixed;
    z-index: 2;
}

.top-menu nav a {
    display:  inline-block;
}

.part {
    position: relative;
}

.items div a,
label,
input,
textarea,
.social-menu a {
    display: block;
}

/* 
 * Sizes
 * ========================================
 */

/* Ширина по содержимому */
.top-menu nav {
    width: fit-content;
}

/* Максимальная ширина контента */
section section {
    max-width: 1180px;
}

/* Реальная ширина контента */
blockquote,
.items div,
.feedback {
    width: 87vw;
}

/* По ширине страницы */
.top-menu {    
    width: 100vw;
}

/* По ширине контейнера */
.items div a,
label,
input,
textarea,
.social-menu a {
    width: 100%;
}

/* На всю высоту вьюпорта */
.part {
    min-height: 100vh;
}

/* Высота по содержимому */

.feedback {
    min-height: fit-content;
}

/* Высота задана только здесь 
 * (потом картинки легче) 
 */
.items div {
    height: 20rem;
}

hr {
    height: 3px;
}

/* 
 * Поля и отступы
 * ========================================
 */

/* Отступы */

/* Отступ между пунктами меню */
.top-menu nav a {
    padding: .2rem;
}

.social-menu a,
p, 
dt,
dd,
.items div a,
.feedback *,
input,
textarea { 
    padding: .2rem 1rem;
}

.feedback {
    padding: .5rem;
}

/* 
 * Horizontal Centring
 * ========================================
 */

.top-menu nav,
.social-menu,
section section {
    margin: 0 auto;
}

blockquote, 
.items div {
    margin: 2rem auto;
}

.social-menu a,
input,
textarea,
.feedback {
    margin: .4rem auto;
}

.part:first-child,
.photo,
.social-menu {
    text-align: center;
}

/* 
 * Vertical Alingment
 * ========================================
 */

/* Поле для меню */
.top-menu {
    margin-top: 1rem;
}

/* Высота меню */
/* Выравниваем пункты меню по вертикали */
.top-menu nav a {
    line-height: 30px;
}

/* Отступ для первого пункта */
.top-menu a:first-child {
    margin-right: 15vw;
}

/* Поле для заголовка */
.main-header {
    margin-top: 25vh;
}

/* Расстояние между страницами */
.part:not(:last-child) {
    margin-bottom: 5rem; 
}

/* Расстояние между заголовкаом и кнопками */
hr,
.social-menu,
.photo {
    margin-top: 17vh;
}

/* Отступ для карточек с работами */
.items div {
   padding-top: 55%;
}

/* Место для верхнего меню */
.part {
    padding: 10vh 4vw;       
}

/*
  ========================================
  Text and Fonts
  ========================================
*/
 
html {
    font-size: 16px;
}

a,
label {
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

dt {
    font-size: 1.4rem;
}

blockquote {
    font-size: 1.27rem;
}

body {
    font-family: 'Satisfy', cursive;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
}

h2 {
    font-family: 'Courgette', cursive;
}

.items,
label,
input[type="submit"],
a {
    font-family: 'Gentium Book Basic', serif;
}

/* Выравнивание текста */

a {    
    vertical-align: middle;
}

.top-menu,
header {
    text-align: center;
}

/* Настройки текста */

a {    
    text-decoration: none;
}

.top-menu a,
.social-menu a {
    text-transform: uppercase;
}

.items a,
label {
    text-transform: capitalize;
}

a,
dt,
input,
textarea {
    font-weight: bold;
}

/*
  ========================================
  Font And Border Colors
  ========================================
*/

/* Сброс */
input,
textarea {
    outline: none;
}

/* Рамки */
input,
textarea,
.social-menu a {
    border-radius: 5px;
    border-width: 5px;
    border-style: double;
}

/* Цвета */

body,
a,
.social-menu a,
blockquote,
.feedback,
.feedback input[type="submit"] {
    color: rgba( 255, 255, 255, .8 );
}

body,
a,
input[type="submit"] {
    border-color: rgba( 255, 255, 255, .8 );
}

blockquote {
    border-left: 5px double rgba( 255, 255, 255, .8 );
}

.items a,
input:not(:last-child),
textarea {
    color: rgba( 61, 60, 58, .9 );
    border-color: rgba( 61, 60, 58, .9 );
}

.items {
    text-shadow: 
        0.5px 0.5px rgba( 254, 252, 255, .7 ), 
        0.5px 0.5px rgba( 223, 190, 170, .6 );
}

/*
  ========================================
  Backgrounds
  ========================================
*/

input[type="submit"] {    
    background: none;
}

input,
textarea {
    background-color: rgba( 254, 252, 255, .9);
}

body {
    background-image: url( '../img/body.jpg' );
}

body,
#first::before,
#second::before,
#third::before,
#fourth::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*will-change: transform;*/
}

/* Эти свойства не должны влиять на body */
#first::before,
#second::before,
#third::before,
#fourth::before {
    opacity: .9;
    z-index: -1;    
}

/* 
 * Все четыре фона в псеводоэлементах,
 * иначе прозрачность повлияет на все содержимое
 */
#first::before {
    background: url( '../img/first.jpg' );
}

#second::before {
    background: url( '../img/second.jpg' );
}

#third::before {
    background: url( '../img/third.jpg' );
}

#fourth::before {
    background: url( '../img/fourth.jpg' );
}

/*
  ========================================
  Effects
  ========================================
*/

/* Ссылки */
a:hover {
    text-decoration: underline;
}

.top-menu a:hover,
.social-menu a:hover {    
    border-color: rgba( 61, 60, 58, .7);
    color: rgba( 61, 60, 58, .7);
    background-color: rgba( 255, 255, 255, .8 );
}

/* Градиенты */
.top-menu,
.feedback,
.items div {
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 1px, 100% 1px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 2px, 0 calc( 99% ); 
    background-image: 
        linear-gradient( 45deg, 
            rgba( 254, 252, 255, 0 ) 30%, 
            rgba( 254, 252, 255, .8 ), 
            rgba( 254, 252, 255, 0 ) 70% ), 
        linear-gradient( to right, 
            rgba( 254, 252, 255, .3 ), 
            rgba( 254, 252, 255, 0 ) 20%, 
            rgba( 254, 252, 255, 0 ) 90%, 
            rgba( 254, 252, 255, .3 ) ), 
        linear-gradient( to right, 
            rgba( 125, 125, 125, .3 ), 
            rgba( 254, 252, 255, .9 ) 45%, 
            rgba( 125, 125, 125, .5 ) ), 
        linear-gradient(to right, 
            rgba( 125, 125, 125, .3 ), 
            rgba( 254, 252, 255, .9 ) 45%, 
            rgba( 125, 125, 125, .5 ) ), 
        linear-gradient(to right, 
            rgba( 223, 190, 170, .3 ), 
            rgba( 254, 252, 255, .9 ) 45%, 
            rgba( 223, 190, 170, .5 ) ), 
        linear-gradient(to right, 
            rgba( 223, 190, 170, .3 ), 
            rgba( 254, 252, 255, .9 ) 45%, 
            rgba( 223, 190, 170, .5 ) );
}

.social-menu,
.feedback:hover,
.items div:hover {  
    transition: .3s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 2px, 0 calc( 99% );
}

.items a {
    background-image: 
        linear-gradient( to right,
            rgba( 135, 173, 222, .2 ) 30%,
            transparent );
}

/* Для повышения читаемости :( */
.part {
    background-image: 
        linear-gradient( to left, 
            rgba( 72, 60, 50, .4 ), 
            rgba( 49, 61, 71, .4 ) );    
}

/* Кроссбраузерный (Кроме IE/Edge сдвиг вправо для интутов */
input::-webkit-input-placeholder       { text-indent: 0px;   transition: text-indent 0.3s ease; }
input::-moz-placeholder                { text-indent: 0px;   transition: text-indent 0.3s ease; }
input:-moz-placeholder                 { text-indent: 0px;   transition: text-indent 0.3s ease; }
input:-ms-input-placeholder            { text-indent: 0px;   transition: text-indent 0.3s ease; }
input:focus::-webkit-input-placeholder { text-indent: 500px; transition: text-indent 0.3s ease; }
input:focus::-moz-placeholder          { text-indent: 500px; transition: text-indent 0.3s ease; }
input:focus:-moz-placeholder           { text-indent: 500px; transition: text-indent 0.3s ease; }
input:focus:-ms-input-placeholder      { text-indent: 500px; transition: text-indent 0.3s ease; }

/*
  ========================================
  Images
  ========================================
*/

.photo img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    opacity: .8;
}

/*
  ========================================
  For IE and Edge personally
  ========================================
*/

/* Так в IE не дергается фиксированный бэкграунд */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}

/* Персональное повторение для Edge */
#first::before,
#second::before,
#third::before,
#fourth::before {
    top: 0; right: 0; bottom: 0; left: 0;
    background-size: cover;
    background-position: center;
    /*will-change: transform;*/
}
