
@media( min-width: 480px ) {    

    .items {
        text-align: center;
    }

    .items div {
        display: inline-block;
        vertical-align: top;
    }
}

@media( min-width: 640px ) {    

    .social-menu a {
        display: inline-block;
        width: fit-content;
    }
}

/*
 * Запросы
 */

@media ( min-width: 375px )  and ( max-width: 424px ) {

    html {
        font-size: 18px;
    }

    /* Отступ для первого пункта */
    .top-menu a:first-child {
        margin-right: 25vw;
    }

    /* Расстояние между заголовкаом и кнопками */
    hr,
    .social-menu,
    .photo {
        margin-top: 15vh;
    }

    /* Реальная ширина контента */
    blockquote,
    .items div,
    .feedback,
    hr,
    .social-menu {
        width: 80vw;
    }
}

@media ( min-width: 425px )  and ( max-width: 479px ) {

    html {
        font-size: 22px;
    }

    /* Отступ для первого пункта */
    .top-menu a:first-child {
        margin-right: 26vw;
    }

    /* Расстояние между заголовкаом и кнопками */
    hr,
    .social-menu,
    .photo {
        margin-top: 13vh;
    }

    /* Реальная ширина контента */
    blockquote,
    .items div,
    .feedback,
    hr,
    .social-menu {
        width: 75vw;
    }

    /* Высота задана только здесь 
     * (потом картинки легче) 
     */
    .items div {
        height: 15rem;
    }

    /* Отступ для карточек с работами */
    .items div {
       padding-top: 45%;
    }
}

@media ( min-width: 480px )  and ( max-width: 549px ) {

    html {
        font-size: 18px;
    }

    /* Отступ для первого пункта */
    .top-menu a:first-child {
        margin-right: 29vw;
    }

    /* Расстояние между заголовкаом и кнопками */
    hr,
    .social-menu,
    .photo {
        margin-top: 14vh;
    }

    /* Реальная ширина контента */
    .feedback,
    hr,
    .social-menu {
        width: 70vw;
    }

    /* Высота задана только здесь 
     * (потом картинки легче) 
     */
    .items div {
        width: 40vw;
        height: 15rem;
        margin: .3rem;
        padding-top: 30%;
    }
}

@media ( min-width: 550px )  and ( max-width: 639px ) {

    html {
        font-size: 18px;
    }

    /* Отступ для первого пункта */
    .top-menu a:first-child {
        margin-right: 38vw;
    }

    /* Расстояние между заголовкаом и кнопками */
    hr,
    .social-menu,
    .photo {
        margin-top: 10vh;
    }

    /* Реальная ширина контента */
    .feedback,
    hr,
    .social-menu {
        width: 60vw;
    }    

    /* Высота задана только здесь 
     * (потом картинки легче) 
     */
    .items div {
        width: 43vw;
        height: 15rem;
        margin: .3rem;
        padding-top: 32%;
    }

} 

@media( min-width: 640px ) and ( max-width: 767px ) {

    html {
        font-size: 19px;
    }

    .top-menu a {
        font-size: 22px;
    }

    /* Отступ для первого пункта */
    .top-menu a:first-child {
        margin-right: 45vw;
    }

    .social-menu a {
        border-width: 2px;
    }

    /* Расстояние между заголовкаом и кнопками */
    hr,
    .social-menu,
    .photo {
        margin-top: 10vh;
    }

    /* Реальная ширина контента */
    .feedback,
    hr {
        width: 60vw;
    }     

    /* Высота задана только здесь 
     * (потом картинки легче) 
     */
    .items div {
        width: 43vw;
        height: 15rem;
        margin: .3rem;
        padding-top: 9rem;
    } 
}

@media( min-width: 768px ) and ( max-width: 991px ) {

    html {
        font-size: 22px;
    }

    /* Отступ для первого пункта */
    .top-menu a:first-child {
        margin-right: 50vw;
    }

    /* Расстояние между заголовкаом и кнопками */
    hr,
    .social-menu,
    .photo {
        margin-top: 8vh;
    }

    /* Реальная ширина контента */
    .feedback,
    hr {
        width: 55vw;
    } 

    .social-menu a {
        border-width: 2px;
    }  

    /* Высота задана только здесь 
     * (потом картинки легче) 
     */
    .items div {
        width: 43vw;
        height: 15rem;
        margin: .3rem;
        padding-top: 9rem;
    } 
}

@media( min-width: 992px ) and ( max-width: 1199px ) {

    html {
        font-size: 24px;
    }

    /* Отступ для первого пункта */
    .top-menu a:first-child {
        margin-right: 60vw;
    }

    /* Расстояние между заголовкаом и кнопками */
    hr,
    .social-menu,
    .photo {
        margin-top: 6vh;
    }

    /* Реальная ширина контента */
    .feedback,
    hr {
        width: 50vw;
    }

    /* Высота задана только здесь 
     * (потом картинки легче) 
     */
    .items div {
        width: 28vw;
        height: 15rem;
        margin: .3rem;
        padding-top: 8rem;
    }  

    .feedback * {
        padding: .1rem .5rem;
    }  

    /* вытягиваем картинку наверх */
    .about,
    blockquote,
    .competences {
        width: 69vw;
        margin-right: 30vw;
    } 

    .photo img {
        position: absolute;
        top: 12vh; right: 6vw;
    }
}

@media( min-width: 1200px ) and ( max-width: 1279px ) {

    html {
        font-size: 26px;
    }

    /* Отступ для первого пункта */
    .top-menu a:first-child {
        margin-right: 64vw;
    }

    /* Высота задана только здесь 
     * (потом картинки легче) 
     */
    .items div {
        width: 28vw;
        height: 15rem;
        margin: .4rem;
        padding-top: 8rem;
    }

    /* Реальная ширина контента */
    .feedback,
    hr {
        width: 40vw;
    } 

    /* вытягиваем картинку наверх */
    .about,
    blockquote,
    .competences {
        width: 69vw;
        margin-right: 30vw;
    } 

    .photo img {
        position: absolute;
        top: 14vh; right: 7vw;
    } 
}

@media( min-width: 1280px ) and ( max-width: 1919px ) {

    html {
        font-size: 30px;
    }

    /* Отступ для первого пункта */
    .top-menu a:first-child {
        margin-right: 64vw;
    }

    /* Высота задана только здесь 
     * (потом картинки легче) 
     */
    .items div {
        width: 20vw;
        height: 15rem;
        margin: .4rem;
        padding-top: 8rem;
    }

    /* Реальная ширина контента */
    .feedback,
    hr {
        width: 40vw;
    }

    /* вытягиваем картинку наверх */
    .about,
    blockquote,
    .competences {
        width: 69vw;
        margin-right: 30vw;
    } 

    .photo img {
        position: absolute;
        top: 14vh; right: 7vw;
    }  
}

@media( min-width: 1920px ) {

    html {
        font-size: 35px;
    }

    /* Отступ для первого пункта */
    .top-menu a:first-child {
        margin-right: 65vw;
    }

    /* Расстояние между заголовкаом и кнопками */
    hr,
    .social-menu,
    .photo {
        margin-top: 3vh;
    }

    /* Реальная ширина контента */
    .feedback,
    hr {
        width: 40vw;
    }

    hr {        
        height: 5px;
    }

    /* Высота задана только здесь 
     * (потом картинки легче) 
     */
    .items div {
        width: 18vw;
        height: 15rem;
        margin: .4rem;
        padding-top: 8rem;
    }

    /* вытягиваем картинку наверх */
    .about,
    blockquote,
    .competences {
        width: 69vw;
        margin-right: 30vw;
    }

    .photo img {
        position: absolute;
        top: 14vh; right: 7vw;
    }   
}